<section class="sec1 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <h2 class="mb-2">LOCATION</h2>
          <h6 class="mb-2">2215 John Daniel Drive</h6>
          <p>Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <h2 class="mb-2">AROUND THE WEB</h2>
          <div class="d-flex justify-content-center align-items-center">
            <div class="social">
              <i class="fa-brands fa-facebook fa-lg" style="color: #ffffff"></i>
            </div>
            <div class="social">
              <i class="fa-brands fa-twitter fa-lg" style="color: #ffffff"></i>
            </div>
            <div class="social">
              <i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff"></i>
            </div>
            <div class="social">
              <i class="fa-solid fa-globe fa-lg" style="color: #ffffff"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <h2 class="mb-2">ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec2 text-white text-center py-2">
  <p>Copyright © Your Website 2021</p>
</section>
