<section>
  <div class="test">
    <h1>ABOUT COMPONENT</h1>
    <div id="star">
      <div class="theWhite"></div>
      <i class="fas fa-star text-white fa-lg"></i>
      <div class="theWhite"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div>
            <p>
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <p>
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
