section {
  background-color: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 50px;
}

.test {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
}

#star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}

.theWhite {
  width: 90px;
  height: 4px;
  background-color: #fff;
  margin-inline: 30px;
}
